<div class="col-md-9 col-lg-9">
    <!-- Tab panes For Project-->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="personal">
            <div class="inner-tab-pane">
                <div class="row">
                    <div class="col-md-11">
                        <h2>Tasks</h2>
                    </div>
                </div>
                <ul ng-repeat="t in tasks">
                    <li>ProjectName : {{t.ProjectName}},</li>
                    <li>Name : {{t.Name}},</li>
                    <li>Due : {{t.DueDate | date}},</li>
                    <li>Priority : {{t.Priority}}</li>
                    <li>Completed : {{t.IsCompleted}}</li>
                    <li><a href="/#/taskdetail/{{t.Id}}">Edit</a>|<a href="javascript:void(0)" ng-click="delete(t)">Delete</a></li>
                </ul>

            </div>
        </div>

    </div>

</div>
